html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  /* avoid  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: rgb(27, 27, 27);
}

canvas {
  touch-action: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
